/*===========================================================================*/
/* Reset
/*===========================================================================*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*===========================================================================*/
/* Fonts
/*===========================================================================*/

/*===========================================================================*/
/* Globals
/*===========================================================================*/

:root {
    --primary: #000;
    --sans-serif: "Segoe UI", sans-serif;
    --secondary: #fff;
}

/*===========================================================================*/
/* General styles
/*===========================================================================*/

html {
    font-size: 100%;
}

body {
    font-family: var(--sans-serif);
    line-height: 1.5;
}

button {
    all: unset;
    cursor: pointer;
}

/*===========================================================================*/
/* Media queries
/*===========================================================================*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
